{% extends 'frontend_layout.html.twig' %}

{% block title %}4oom | Register{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        {{ form_widget(registrationForm.role, { 'attr': {'class': 'form-select'} }) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
